---
layout: page
title: Solutions
metaTitle: Psychology translator - Spanish translator | PsyTranslations
metaDesc: Looking for a psychology and medical Spanish translator? Find solutions for your texts in the fields of Psychology, Healthcare and Medicine, and Education.
---

<section class="hero is-primary  mb-4 header-image" >

  <div class="hero-body">
    <div class="container">

      <div class="columns is-desktop">
        <div class="column blur-hero is-half-desktop">
          <h1 class="title">
            Karol Tapia de Moya
          </h1>
          <h2 class="subtitle">
            Medical translator specializing in clinical research, medical devices, and psychology translations
          </h2>

          <a href="/contact/">
            <button class="button is-warning">Tell me about your project</button>
          </a>

        </div>
      </div>

    </div>
  </div>

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="negmargin">
    <path fill="#fff" fill-opacity="1" d="M0,64L80,85.3C160,107,320,149,480,144C640,139,800,85,960,69.3C1120,53,1280,75,1360,85.3L1440,96L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path>
  </svg>
</section>

<section class="section pt-0">
  <div class="container">
    <div class="columns ">
      <div class="column is-6">
        <h1 class="title ">
            <strong>Medical and psychology translation</strong>
        </h1>

        <p class="mb-3 ">
Medical translations are a field in which stakes are as high as they can be. We’re talking human lives and health.
        </p>

        <p class="mb-3 ">
          This industry has specific characteristics:

        <ul>
          <li>&bull; Highly specialized terminology</li>
          <li>&bull; Well-defined, clear, formal, and accurate language</li>
          <li>&bull; Highly regulated</li>
        </ul>

        </p>

        <p class="mt-3 mb-3 ">
But make no mistake—in spite of the scientific terminology and clear language, medical translations also depend to a large extent on culture. So it’s important to understand the appropriate way of communicating with patients and healthcare professionals in the target context.

        </p>

        <p class="mb-3 ">
You also need to know if you’re working with highly specialized medical translation, general medical translation, or other subspecializations in the medical/healthcare world.
        </p>

        <p class="mb-3 ">
There are so many things to know and so many decisions to make. 
<b>Relying on a medical translator who gets these language subtleties and can help you effectively communicate the information to your target audience </b>
is vital.
        </p>


      </div>

     <div class="column">
          <div class=" ml-6">

      <div class="bicolor ">
        <div class="bicolor-top mb-0 ">
          <div class="block">
            <b> What you need:</b>
          </div>

<ul>
  <li>&bull; Compliance with regulatory requisites (general and country-specific).</li>
  <li>&bull; Flexibility in targeting readers, from patient-facing and clinician-facing to regulatory.</li>
  <li>&bull; Accuracy and clear style. </li>
  <li>&bull; Peace of mind about whether the right formal conventions are being followed.</li>
</ul>

      </div>
        <div class="bicolor-bottom mt-0">
          <div class="block">
            <b> How I deliver:</b>
          </div>
<ul>

<li>&bull; Certification of Good Clinical Practices in Colombia, Spain, and the US.</li>
<li>&bull; Advanced degrees in medical translation and health.</li>
<li>&bull; First-hand experience in clinical settings as a healthcare professional.</li>
<li>&bull; Use of translation tools (MemoQ, Trados, XTM, WordBee, etc.) and quality control tools (Xbench).</li>
<li>&bull; Collaboration (on request) with a second reviewer.</li>
<li>&bull; Network of trusted colleagues in different languages and cultures.</li>
<li>&bull; Familiarity with relevant clinical trial regulations (ICH, FDA, EMA, AEMPS, INVIMA).</li>
<li>&bull; Membership of medical translator associations and divisions, and professional networks.</li>

</ul>


      </div>
      </div>

          </div>

        </div>

      </div>

    </div>

  </section>

<section class="section pb-3">
  <div class="container is-paddingless">
    <div class="columns">
      <div class="column">
        <div class="testimonial-quote group is-paddingless">
          <div class="quote-container is-paddingless">
            <blockquote>
              <p>Karol has translated psychological resources for us for a couple of years now. Her translations are of excellent quality—her domain-specific knowledge really helps us here! She's accurate, quick, and a brilliant communicator. I've got no hesitation in recommending her to anyone who needs translation work completed to an excellent standard.”</p>
            </blockquote>
            <div class="cite">
           <p>
              <b>Matthew Whalley,</b>
                    Director, Psychology Tools
            </p>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="testimonial-quote group is-paddingless">
          <div class="quote-container is-paddingless">
            <blockquote>
              <p>Karol is one of our top Spanish linguists, her knowledge of the medical field is outstanding and we are very satisfied with her performance</p>
            </blockquote>
            <div class="cite">
              <p>
                <b>Denisse Geler,</b> Project Manager, Green Translations
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-8">
        <h1 class="subtitle has-text-centered">
          <a href="/contact/">
            <button class="button is-warning">Contact me for more information</button>
          </a>
        </h1>
      </div>
    </div>
  </div>
</section>


<section class="section">
  <div class="container">
    <div class="columns is-vcentered has-text-centered">
      <div class="column">
        <img src="../../clinical_research_translation.jpg" alt="">
      </div>
      <div class="column">
         <h1 class="title ">
            <strong> Clinical research translations </strong>
        </h1>
          <p class="mb-3 ">
Research and clinical trial translations are more specialized subfields within the broader medical translation specialization. 
          </p>
          <p class="mb-3 ">
Familiarization with clinical research practices and workflows is necessary to guarantee the correct adaptation of research documentation (e.g., protocol documentation, investigator brochures, clinician training materials), patient-facing documentation (e.g., informed consent, recruitment materials, instructions), and 
          <a href="/blog/blog-11-5-ways-a-neuropsychology-translator-can-help-you/">
clinical outcome assessments. 
          </a>

          </p>
          <p class="mb-3 ">
  At the same time, you also need to conform to country-specific clinical research legislation and regulations (e.g., from the FDA in the US, the AEMPS in Spain, or INVIMA in Colombia).            
          </p>
          <p class="mb-3 ">
To tick all these boxes, work with a translator who has hands-on experience as a clinician and as part of research staff, with knowledge of GCP, medical terminology and concepts, and the linguistic proficiency to be able to adapt your documentation effectively to achieve your objectives.            
          </p>
      </div>
    </div>
    <div class="columns is-vcentered has-text-centered">
      <div class="column">
        <h1 class="title ">
            <strong>Psychology and mental health translations </strong>
        </h1>

        <p class="mb-3 ">
An even more specialized subfield, psychology and mental health topics also require translators with specific training and qualifications. 
        </p>
        <p class="mb-3">
Psychology translations can encompass:

<ul class="has-text-left mb-3">
  <li>&bull;   <a href="https://www.psytranslations.com/blog/blog-11-5-ways-a-neuropsychology-translator-can-help-you/">
Neuropsychological assessments

          </a></li>
  <li>&bull; Clinical psychology assessments</li>
  <li>&bull; 

<a href="/solutions/website-app-localization/">
Digital therapeutics apps for mental health

          </a>

  </li>
  <li>&bull; Informative materials for patients, family, and health professionals</li>
  <li>&bull; Industrial psychology and HR materials and assessment</li>
  <li>&bull; Evidence-based psychology materials</li>
  <li>&bull; And more</li>
</ul>
        </p>
        <p class="mb-3 ">
What do all these translations have in common? 
        </p>


        <p class="mb-3 ">
      They will all benefit from a specialized translator with first-hand experience and training as a licensed psychologist. Someone who understands the underlying concepts and official terminology. And someone who gets what’s
          <a href="/blog/blog-11-5-ways-a-neuropsychology-translator-can-help-you/">
at stake

          </a>
and treats the project with the seriousness it deserves.

          </p>



      </div>

      <div class="column">
      <img src="../../psychology_and_mental_health_translations.jpg" alt="">


      </div>
    </div>



    <div class="columns is-vcentered has-text-centered">

      <div class="column">
        <img src="../../contact_me_psychology_translator.jpg" alt="">
      </div>


      <div class="column">
          <h1 class="title">
            <strong> Let’s work together on your next project! </strong>
        </h1>
          <p class="mb-3">
            Do you have a medical translation project and think we could work together? Contact me with the details and let’s find out.
          </p>

        <div class="column is-12">
          <h1 class="subtitle">
            <a href="/contact/">
              <button class="button is-warning">Get in touch</button>
            </a>
            </h1>
        </div>
      </div>


    </div>

  </div>
</section>

<section class="section">
  <div class="container">

    <div class="columns  is-centered">
      <div class="column is-8">
        <h1 class="subtitle  has-text-centered">

          <a href="/contact/">
            <button class="button is-warning">Get in touch</button>
          </a>

        </h1>
        <p class="  has-text-centered pt-6 pb-5">
           I’m a member of several professional associations and abide by their respective codes of ethics:
          </p>

        <div class="box  post-it p-6">
          <div class="columns">
            <div class="column pt-3">
              <figure class="image " height="200">
                <a href="https://web.atanet.org/onlinedirectories/tsd_view.php?id=24250" target="_blank">
                  <img src="../../clientes6.png" alt="American Translators Association (ATA) logo">
                </a>
              </figure>
            </div>

            <div class="column pt-3">
              <figure class="image " height="200">
                <a href="https://www.tremedica.org/buscador-de-linguistas-profesionales/linguista/?usuario=psikapiagmail-com" target="_blank">
                  <img src="../../clientes1.png" alt="International Association of Medical Translators and Writers and Related Sciences (TREMÉDICA) logo">
                </a>
              </figure>
            </div>

            <div class="column pt-3">
              <figure class="image " height="200">
                <a href="https://www.actti.org/karol-tapia-de-moya/" target="_blank">
                  <img src="../../clientes2.png" alt="Colombian Association of Translators, Terminologists and Interpreters (ACTTI) logo">
                </a>
              </figure>
            </div>

            <div class="column pt-3">
              <figure class="image " height="200">
                <a href="https://www.colpsic.org.co/" target="_blank">
                  <img src="../../clientes5.png" alt="Colombian Psychology Board logo">
                </a>
              </figure>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>

</section>

