<footer class="footer">

  <div class="columns  is-centered">
    <div class="column is-half">

      <div class="pb-3">

        <a href="/privacy/">
          <p class="  has-text-centered">
        Privacy Policy
          </p>
        </a>

      </div>

      <div class="">
        <a href="/legal/">
          <p class="  has-text-centered">
            Legal notice
          </p>
        </a>
      </div>

    </div>

    <div class="column is-half">

      <div class="columns">
        <div class="column">
          <a href="https://www.linkedin.com/in/psikaroltapia/">
            <figure class="image ">
              <img src="../linkedin.svg" class=" social-logos" alt="linkedin logo">
            </figure>
          </a>
        </div>
        <div class="column">
          <a href="https://www.proz.com/translator/1947248">
            <figure class="image">
              <img src="../proz.svg" class=" social-logos" alt="proz logo">
            </figure>
          </a>
        </div>
      </div>

    </div>
  </div>

</footer>
