<script>

  if ("serviceWorker" in navigator) {
    navigator
      .serviceWorker
      .register("/service-worker.js");
  }

  $(document).ready(function () {
    // Check for click events on the navbar burger icon
    $(".navbar-burger").click(function () {

      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      $(".navbar-burger").toggleClass("is-active");
      $(".navbar-menu").toggleClass("is-active");
    });
  });
</script>

<header>

  {% if config.navigation %}

    <nav class="navbar is-fixed-top " role="navigation" aria-label="main navigation">
      <div class="navbar-brand">

        <a id="header-logo" class="navbar-item pt-3" href="/">

          <div class="navbar-item pl-6">
            <h1 id="header-title">
              <strong>Psy</strong>Translations
   </h1>
          </div>

          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-end">

            {% for item in config.navigation %}
              <a  class="navbar-item"
          href="{{ item.url }}"
          {% if page.url == item.url %} aria-current="page" {% endif %}

        >
                <b>{{ item.text }}</b>
              </a>
            {% endfor %}

          </div>
        </div>

      </div>
    </nav>

  {% endif %}

</header>
