---
layout: page
title: About
---

<section class="hero is-primary  mb-4 header-image" >

  <div class="hero-body">
    <div class="container">

      <div class="columns is-desktop">
        <div class="column blur-hero is-half-desktop">
          <h1 class="title">
            Karol Tapia de Moya
          </h1>
          <h2 class="subtitle">
            English to Spanish translator
          </h2>
          <h2 class="subtitle">
            Psychology and healthcare language solutions
          </h2>

          <a href="/contact/">
            <button class="button is-warning">Contact</button>
          </a>

        </div>
      </div>

    </div>
  </div>

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="negmargin">
    <path fill="#fff" fill-opacity="1" d="M0,64L80,85.3C160,107,320,149,480,144C640,139,800,85,960,69.3C1120,53,1280,75,1360,85.3L1440,96L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path>
  </svg>
</section>

<section class="section pt-0">

  <div class="columns  is-centered">
    <div class="column is-9">

      <div class="columns ">
        <div class="column">

          <div class="sombrevere">
            <figure class="image is-256x256">
              <img src="../perfil2.jpg" alt="Image of Karol Tapia de Moya reading APA's style manual">
            </figure>

          </div>

        </div>
        <div class="column">
          <h1 class="title  ">
            I deliver solutions, <strong>not just translations </strong>
          </h1>

          <p >
          You’re looking for a language expert who can help you achieve your specific outcomes and objectives, while saving you
          <b> time, effort, </b> and
          <b> money.  </b>

          I deliver language solutions that prioritize quality, validity, and reliability to
          <b> flawlessly adapt your source content  </b> to your target market.
          </p><br>
          <p>
          I’m Karol Tapia de Moya, a
          <b> psychologist  </b>
          with Master’s degrees in neuropsychology, health psychology, and disability. I’m also an
          <b> English to Spanish translator </b>
specializing in medical translations.

          </p><br>
          <p>My academic background and professional experience across a range of psychology applications in Colombia and Spain complement my credentials as a medical translator. My commitment to CPD means I’m always up-to-date with the latest industry developments.  </p>

          <div class="box has-background-warning mt-6">
            <strong>
              <a href="https://cfcdn.proz.com/profile_resources/1947248_r6083f9f7202b4.pdf" target="_blank"> Learn more about my professional and academic background </a>
            </strong>
          </div>

        </div>

      </div>

    </div>
  </div>

  <div class="columns  is-centered">
    <div class="column is-8"></div>
  </div>

</div>

</section>

<section class="section pt-0">
<div class="container">

  <h1 class="title  has-text-centered pb-6">
            Why  <strong> choose me?</strong>
  </h1>

  <p class="subtitle">
           I promise you results and quality with rigorous and professional translations in the fields of
           <b> medicine, psychology, </b> and
           <b> education: </b>
  </p>

  <div class="columns">
    <div class="column">

      <div class="bicolor ">
        <div class="bicolor-top mb-0 ">
          <div class="block">
            <b> You get...</b>
          </div>
        Compliant content that conveys the message and maintains the psychometric properties of your source text.
      </div>
        <div class="bicolor-bottom mt-0">
          <div class="block">
            <b> I do it by using...</b>
          </div>
       My knowledge and experience in psychometrics, guidelines for test adaptation, and other standards.
      </div>
      </div>

    </div>

    <div class="column">
      <div class="bicolor ">
        <div class="bicolor-top mb-0 ">
          <div class="block">
            <b> You get...</b>
          </div>
        Content that uses the latest terminology from your industry.
      </div>
        <div class="bicolor-bottom mt-0">
          <div class="block">
            <b> I do it by using...</b>
          </div>
        My research skills and access to international databases and manuals.
      </div>
      </div>
    </div>

    <div class="column">
      <div class="bicolor ">
        <div class="bicolor-top mb-0 ">
          <div class="block">
            <b> You get...</b>
          </div>
       Quality content that fits in with your workflow.
      </div>
        <div class="bicolor-bottom mt-0">
          <div class="block">
            <b> I do it by using...</b>
          </div>
        Uso de herramientas de traducción asistida por ordenador (MemoQ, Trados), de calidad (Xbench), maquetación, diseño (InDesign), etc.
      </div>
      </div>
    </div>

  </div>

  <div class="columns">
    <div class="column">

      <div class="bicolor ">
        <div class="bicolor-top mb-0 ">
          <div class="block">
            <b> You get...</b>
          </div>
       Content that matches the context of your assessment situation.
      </div>
        <div class="bicolor-bottom mt-0">
          <div class="block">
            <b> I do it by using...</b>
          </div>
      My practical experience of interviews and instruments in real clinical and educational settings.

      </div>
      </div>

    </div>

    <div class="column">
      <div class="bicolor ">
        <div class="bicolor-top mb-0 ">
          <div class="block">
            <b> You get...</b>
          </div>
        Content adapted to neutral Spanish or specific variants.
      </div>
        <div class="bicolor-bottom mt-0">
          <div class="block">
            <b> I do it by using...</b>
          </div>
     My multicultural professional background.
      </div>
      </div>
    </div>

    <div class="column">
      <div class="bicolor ">
        <div class="bicolor-top mb-0 ">
          <div class="block">
            <b> You get...</b>
          </div>
      Consistent content that complies with your industry's citation and reference standards.
      </div>
        <div class="bicolor-bottom mt-0">
          <div class="block">
            <b> I do it by using...</b>
          </div>
     The most common referencing systems in health and social sciences (Vancouver, APA).

      </div>
      </div>
    </div>

  </div>

</section>

<section class="section">
  <div class="container">

    <div class="columns  is-centered">
      <div class="column is-8">
        <h1 class="subtitle  has-text-centered">

          <a href="/contact/">
            <button class="button is-warning">Get in touch</button>
          </a>

        </h1>
        <p class="  has-text-centered pt-6 pb-5">
           I’m a member of several professional associations and abide by their respective codes of ethics:
          </p>

        <div class="box  post-it p-6">
          <div class="columns">
            <div class="column pt-3">

              <figure class="image " height="200">
                <img src="../clientes1.png" alt="International Association of Medical Translators and Writers and Related Sciences (TREMÉDICA) logo">
              </figure>

            </div>

            <div class="column pt-3">
              <figure class="image " height="200">
                <img src="../clientes2.png" alt="Colombian Association of Translators, Terminologists and Interpreters (ACTTI) logo">
              </figure>
            </div>

            <div class="column pt-3">
              <figure class="image " height="200">
                <img src="../clientes3.png" alt="Official Association of Psychology of Eastern Andalusia (COPAO) logo">
              </figure>
            </div>

            <div class="column pt-3">
              <figure class="image " height="150">
                <img src="../clientes4.png" alt= "Andalusian Neuropsychology Society (SaNp) logo">
              </figure>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>

</section>
