---
layout: page
title: About
metaTitle: Karol Tapia de Moya - Psychology translations | PsyTranslations
metaDesc: English to Spanish translator and a licensed and trained psychologist specialized in Psychology, Healthcare and Medicine, and Education. 
---

<section class="hero is-primary  mb-4 header-image" >

  <div class="hero-body">
    <div class="container">

      <div class="columns is-desktop">
        <div class="column blur-hero is-half-desktop">
          <h1 class="title">
            Karol Tapia de Moya
          </h1>
          <h2 class="subtitle">
            Certified English-to-Spanish Translator
          </h2>
          <h2 class="subtitle">
            Experienced healthcare professional
          </h2>

          <a href="/contact/">
            <button class="button is-warning">Find out how I can help you</button>
          </a>

        </div>
      </div>

    </div>
  </div>

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="negmargin">
    <path fill="#fff" fill-opacity="1" d="M0,64L80,85.3C160,107,320,149,480,144C640,139,800,85,960,69.3C1120,53,1280,75,1360,85.3L1440,96L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path>
  </svg>
</section>

<section class="section pt-0">

  <div class="columns  is-centered">
    <div class="column is-9">

      <div class="columns ">
        <div class="column">

          <div class="sombrevere">
            <figure class="image is-256x256">
              <img src="../perfil2.jpg" alt="Image of Karol Tapia de Moya reading APA's style manual">
            </figure>

          </div>

        </div>
        <div class="column">
          <h1 class="title  ">
            I deliver solutions, <strong>not just translations </strong>
          </h1>

          <p >
          You’re looking for a language expert who can help you achieve your specific outcomes and objectives, while saving you
          <b> time, effort, </b> and
          <b> money.  </b>

          I deliver language solutions that prioritize quality, validity, and reliability to
          <b> flawlessly adapt your source content  </b> to your target market.
          </p><br>
          <p>
          I’m Karol Tapia de Moya, a
          <b> psychologist  </b>
          with Master’s degrees in neuropsychology, health psychology, and disability. I’m also an
          <b> English to Spanish translator </b>
specializing in medical translations.

          </p><br>
          <p>My academic background and professional experience across a range of psychology applications in Colombia and Spain complement my credentials as a medical translator. My commitment to CPD means I’m always up-to-date with the latest industry developments.  </p>

          <div class="box has-background-warning mt-6">
            <strong>
              <a href="https://drive.google.com/file/d/1wWDv0GkjyCC2y5zbLA4jjRVnDYbpIHmX/view?usp=sharing" target="_blank"> View my résumé </a>
            </strong>
          </div>

        </div>

      </div>

    </div>
  </div>

  <div class="columns  is-centered">
    <div class="column is-8"></div>
  </div>

</div>

</section>

<section class="section pt-2">
<div class="container">

  <h1 class="title  has-text-centered pb-5">
            Why  <strong> choose me?</strong>
  </h1>

  <p class="pb-5">
           I promise you results and quality with rigorous, professional translations in the fields of
           <b> medicine, psychology, </b> and
           <b> education: </b>
  </p>

  <div class="columns">
    <div class="column">

      <div class="bicolor ">
        <div class="bicolor-top mb-0 ">
          <div class="block">
            <b> You get...</b>
          </div>
        Compliant content that conveys the message and maintains the psychometric properties of your source text.
      </div>
        <div class="bicolor-bottom mt-0">
          <div class="block">
            <b> I do it by using...</b>
          </div>
       My knowledge and experience in psychometrics, guidelines for test adaptation, and other standards.
      </div>
      </div>

    </div>

    <div class="column">
      <div class="bicolor ">
        <div class="bicolor-top mb-0 ">
          <div class="block">
            <b> You get...</b>
          </div>
        Content that uses the latest terminology from your industry.
      </div>
        <div class="bicolor-bottom mt-0">
          <div class="block">
            <b> I do it by using...</b>
          </div>
        My research skills and access to international databases and manuals.
      </div>
      </div>
    </div>

    <div class="column">
      <div class="bicolor ">
        <div class="bicolor-top mb-0 ">
          <div class="block">
            <b> You get...</b>
          </div>
       Quality content that fits in with your workflow.
      </div>
        <div class="bicolor-bottom mt-0">
          <div class="block">
            <b> I do it by using...</b>
          </div>
        Computer-assisted translation tools (MemoQ, Trados), QA tools (Xbench), and layout and design tools (InDesign), etc.
      </div>
      </div>
    </div>

  </div>

  <div class="columns">
    <div class="column">

      <div class="bicolor ">
        <div class="bicolor-top mb-0 ">
          <div class="block">
            <b> You get...</b>
          </div>
       Content that matches the context of your assessment situation.
      </div>
        <div class="bicolor-bottom mt-0">
          <div class="block">
            <b> I do it by using...</b>
          </div>
      My practical experience of interviews and instruments in real clinical and educational settings.

      </div>
      </div>

    </div>

    <div class="column">
      <div class="bicolor ">
        <div class="bicolor-top mb-0 ">
          <div class="block">
            <b> You get...</b>
          </div>
        Content adapted to neutral Spanish or specific variants.
      </div>
        <div class="bicolor-bottom mt-0">
          <div class="block">
            <b> I do it by using...</b>
          </div>
     My multicultural professional background.
      </div>
      </div>
    </div>

    <div class="column">
      <div class="bicolor ">
        <div class="bicolor-top mb-0 ">
          <div class="block">
            <b> You get...</b>
          </div>
      Consistent content that complies with your industry's citation and reference standards.
      </div>
        <div class="bicolor-bottom mt-0">
          <div class="block">
            <b> I do it by using...</b>
          </div>
     The most common referencing systems in health and social sciences (Vancouver, APA).

      </div>
      </div>
    </div>

  </div>

</section>

<section class="section">
  <div class="container">

    <div class="columns  is-centered">
      <div class="column is-8">
        <h1 class="subtitle  has-text-centered">

          <a href="/contact/">
            <button class="button is-warning">Get in touch</button>
          </a>

        </h1>
        <p class="  has-text-centered pt-6 pb-5">
           I’m a member of several professional associations and abide by their respective codes of ethics:
          </p>

        <div class="box  post-it p-6">
          <div class="columns">
            <div class="column pt-3">
              <figure class="image " height="200">
                <a href="https://web.atanet.org/onlinedirectories/tsd_view.php?id=24250" target="_blank">
                  <img src="../clientes6.png" alt="American Translators Association (ATA) logo">
                </a>
              </figure>
            </div>

            <div class="column pt-3">
              <figure class="image " height="200">
                <a href="https://www.tremedica.org/buscador-de-linguistas-profesionales/linguista/?usuario=psikapiagmail-com" target="_blank">
                  <img src="../clientes1.png" alt="International Association of Medical Translators and Writers and Related Sciences (TREMÉDICA) logo">
                </a>
              </figure>
            </div>

            <div class="column pt-3">
              <figure class="image " height="200">
                <a href="https://www.actti.org/karol-tapia-de-moya/" target="_blank">
                  <img src="../clientes2.png" alt="Colombian Association of Translators, Terminologists and Interpreters (ACTTI) logo">
                </a>
              </figure>
            </div>

            <div class="column pt-3">
              <figure class="image " height="200">
                <a href="https://www.colpsic.org.co/" target="_blank">
                  <img src="../clientes5.png" alt="Colombian Psychology Board logo">
                </a>
              </figure>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>

</section>
