---
layout: page
title: Contact
---

<p>This is a sample page which use the `page` template. Right it doesn't include extra html or whatever, it's just an example.</p>











            <div class="section">
                <div class="columns">

                    <div class="column  is-full has-text-centered">

                        <div class="box transparent">

                            <div class="columns has-text-centered  is-multiline ">



                                <div class="column ">
                                    <div class="card ">
                                        <div class="card-image">
                                            <figure class="image is-5by4">
                                                <img src="https://images.unsplash.com/photo-1552847319-9e2be2f24459?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Image">
                                            </figure>
                                        </div>
                                        <div class="card-content">
                                            <div class="content">
                                                <h2 class="is-2  has-text-center has-text-weight-medium ">Colorful houses</h2>
                                                <h6 class="is-4  has-text-center has-text-grey has-text-weight-light is-italic is-family-sans-serif">OUTDOORS</h6>
                                                <hr>
                                                <p class="is-4  has-text-grey has-text-center ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                </p>


                                            </div>

                                        </div>

                                    </div>
                                    <hr class="has-background-black">
                                    <div class="card ">
                                        <div class="card-image">
                                            <figure class="image is-4by3">
                                                <img src="https://images.unsplash.com/photo-1469131792215-9c8aaff71393?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Image">
                                            </figure>
                                        </div>
                                        <div class="card-content">
                                            <div class="content">
                                                <h2 class="is-2  has-text-center has-text-weight-medium ">Family garden</h2>
                                                <h6 class="is-4  has-text-center has-text-grey has-text-weight-light is-italic is-family-sans-serif">OUTDOORS</h6>
                                                <hr>
                                                <p class="is-4  has-text-grey has-text-center ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                </p>


                                            </div>

                                        </div>

                                    </div>
                                    <hr class="has-background-black">
                                    <div class="card ">
                                        <div class="card-image">
                                            <figure class="image is-4by3">
                                                <img src="https://images.unsplash.com/photo-1505873242700-f289a29e1e0f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80" alt="Image">
                                            </figure>
                                        </div>
                                        <div class="card-content">
                                            <div class="content">
                                                <h2 class="is-2  has-text-center has-text-weight-medium ">Colorful houses</h2>
                                                <h6 class="is-4  has-text-center has-text-grey has-text-weight-light is-italic is-family-sans-serif">LOFTS</h6>
                                                <hr>
                                                <p class="is-4  has-text-grey has-text-center ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                </p>


                                            </div>

                                        </div>

                                    </div>
                                    <hr class="has-background-black">

                                    <div class="card ">
                                        <div class="card-image">
                                            <figure class="image is-5by4">
                                                <img src="https://images.unsplash.com/photo-1505873242700-f289a29e1e0f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80" alt="Image">
                                            </figure>
                                        </div>
                                        <div class="card-content">
                                            <div class="content">
                                                <h2 class="is-2  has-text-center has-text-weight-medium ">Colorful houses</h2>
                                                <h6 class="is-4  has-text-center has-text-grey has-text-weight-light is-italic is-family-sans-serif">LOFTS</h6>
                                                <hr>
                                                <p class="is-4  has-text-grey has-text-center ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                </p>


                                            </div>

                                        </div>

                                    </div>
                                    <hr class="has-background-black">
                                </div>

                                <div class="column ">

                                    <div class="card ">
                                        <div class="card-image ">
                                            <figure class="image is-4by5 ">
                                                <img src="https://images.unsplash.com/photo-1552558636-f6a8f071c2b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80" alt="Image">
                                            </figure>


                                        </div>
                                        <div class="card-content ">


                                            <div class="content">
                                                <h2 class="is-2  has-text-center has-text-weight-medium">Scandinavian nights</h2>
                                                <h6 class="is-4  has-text-center has-text-grey has-text-weight-light is-italic is-family-sans-serif">BEDROOMS</h6>
                                                <hr>
                                                <p class="is-4  has-text-grey has-text-center ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                    <hr class="has-background-black">
                                    <div class="card ">
                                        <div class="card-image ">
                                            <figure class="image is-4by5 ">
                                                <img src="https://images.unsplash.com/photo-1533987459130-0d7c303ea459?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=603&q=80" alt="Image">
                                            </figure>


                                        </div>
                                        <div class="card-content ">


                                            <div class="content">
                                                <h2 class="is-2  has-text-center has-text-weight-medium">New recipies from Anna Wintertop</h2>
                                                <h6 class="is-4  has-text-center has-text-grey has-text-weight-light is-italic is-family-sans-serif">FOOD BRAKE</h6>
                                                <hr>
                                                <p class="is-4  has-text-grey has-text-center ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card ">
                                        <div class="card-image ">
                                            <figure class="image is-4by5 ">
                                                <img src="https://images.unsplash.com/photo-1533987459130-0d7c303ea459?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=603&q=80" alt="Image">
                                            </figure>


                                        </div>
                                        <div class="card-content ">


                                            <div class="content">
                                                <h2 class="is-2  has-text-center has-text-weight-medium">New recipies from Anna Wintertop</h2>
                                                <h6 class="is-4  has-text-center has-text-grey has-text-weight-light is-italic is-family-sans-serif">FOOD BRAKE</h6>
                                                <hr>
                                                <p class="is-4  has-text-grey has-text-center ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                    <hr class="has-background-black">

                                </div>


                                <div class="column ">
                                    <div class="card ">
                                        <div class="card-image">
                                            <figure class="image is-5by4">
                                                <img src="https://images.unsplash.com/photo-1508881136857-d1781947f4d6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Image">
                                            </figure>
                                        </div>
                                        <div class="card-content">
                                            <div class="content">
                                                <h2 class="is-2  has-text-center has-text-weight-medium">Warm moments</h2>
                                                <h6 class="is-4  has-text-center has-text-grey has-text-weight-light is-italic is-family-sans-serif">HYGGE</h6>
                                                <hr>
                                                <p class="is-4  has-text-grey has-text-center ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                </p>


                                            </div>

                                        </div>

                                    </div>
                                    <hr class="has-background-black">

                                    <div class="card ">
                                        <div class="card-image">
                                            <figure class="image is-4by3">
                                                <img src="https://images.unsplash.com/photo-1471880504582-cf7e63045303?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=612&q=80" alt="Image">
                                            </figure>
                                        </div>
                                        <div class="card-content">
                                            <div class="content">
                                                <h2 class="is-2  has-text-center has-text-weight-medium">Tiles from Naturia</h2>
                                                <h6 class="is-4  has-text-center has-text-grey has-text-weight-light is-italic is-family-sans-serif">BATHROOM</h6>
                                                <hr>
                                                <p class="is-4  has-text-grey has-text-center ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                </p>


                                            </div>

                                        </div>

                                    </div>
                                    <hr class="has-background-black">
                                    <div class="card ">
                                        <div class="card-image">
                                            <figure class="image is-4by3">
                                                <img src="https://images.unsplash.com/photo-1454262041357-5d96f50a2f27?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Image">
                                            </figure>
                                        </div>
                                        <div class="card-content">
                                            <div class="content">
                                                <h2 class="is-2  has-text-center has-text-weight-medium">White Orchids</h2>
                                                <h6 class="is-4  has-text-center has-text-grey has-text-weight-light is-italic is-family-sans-serif">PLANTS</h6>
                                                <hr>
                                                <p class="is-4  has-text-grey has-text-center ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                </p>


                                            </div>

                                        </div>

                                    </div>
                                    <hr class="has-background-black">
                                    <div class="card ">
                                        <div class="card-image">
                                            <figure class="image is-4by3">
                                                <img src="https://images.unsplash.com/photo-1471880504582-cf7e63045303?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=612&q=80" alt="Image">
                                            </figure>
                                        </div>
                                        <div class="card-content">
                                            <div class="content">
                                                <h2 class="is-2  has-text-center has-text-weight-medium">Tiles from Natur</h2>
                                                <h6 class="is-4  has-text-center has-text-grey has-text-weight-light is-italic is-family-sans-serif">BATHROOM</h6>
                                                <hr>
                                                <p class="is-4  has-text-grey has-text-center ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                </p>


                                            </div>

                                        </div>

                                    </div>
                                    <hr class="has-background-black">
                                </div>



                            </div>


                     

                        </div>
                    </div>
                </div>
            </div>

        </div>












