---
layout: page
title: Blog
---
{% from "postItem.njk" import postItem %}

{% set postList = collections.posts %}
{% if collections.posts.length %}
  <section class="pt-3">

    <div class="box  p-3">
      <div class="pt-6 columns has-text-centered is-multiline">
        <!--
      <ol reversed>
            -->

        {% for item in postList | reverse %}
          <!--
        {% if not loop.first %}
            <hr/>
        {% endif %}
            -->

          {{ postItem(item.url, item.data.title, item.date, item.data.description, item.data.picture) }}

        {% endfor %}

        <!--
      </ol>
            -->
      </div>
    </div>
  </section>
{% endif %}
