---
layout: page
title: Contact
---

<section class="hero is-primary  mb-4 header-image" >

  <div class="hero-body">
    <div class="container">

      <div class="columns is-desktop">
        <div class="column blur-hero is-half-desktop">
          <h1 class="title">
            Karol Tapia de Moya
          </h1>
          <h2 class="subtitle">
            English to Spanish translator
          </h2>
          <h2 class="subtitle">
            Psychology and healthcare language solutions
          </h2>
   <br>
        </div>
      </div>

    </div>
  </div>

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="negmargin">
    <path fill="#fff" fill-opacity="1" d="M0,64L80,85.3C160,107,320,149,480,144C640,139,800,85,960,69.3C1120,53,1280,75,1360,85.3L1440,96L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path>
  </svg>
</section>

<section class="section pt-0">
  <h1 class="title  has-text-centered">
    <strong> Contact me </strong> and receive your proposal in less than 24 hours
        </h1>
  <div class="columns is-centered pt-5">
    <div class="column is-10">

      <div class="columns">
        <div class="column is-7 pr-6">
          <p>Get in touch to ask a question or request a quote.</p>
          <p>If the quote is for a specific project, please provide as much of the following as you can:</p>
          <div class="content">
            <ul>

              <li> Information about your text (e.g., Is it an article, a leaflet etc.?)  </li>
              <li>  Information about your audience (countries, age, journal or publication platform, etc.)  </li>
              <li> Timeframe (expected start date and delivery deadline)  </li>
              <li>  Delivery format  </li>
              <li>    Finalized document (attach) </li>
            </ul>
          </div>

        </div>

        <div class="column">
          <div class="sombrevere">
            <figure class="image">
              <img src="../contacto.jpg" alt= "Group of medical and healthcare professionals discussing a text">
            </figure>

          </div>
        </div>
      </div>

    </div>

  </div>
  <div class="columns is-centered pt-6">
    <div class="column is-6">

      <form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/f/xgervkrv" method="post">
        <fieldset id="fs-frm-inputs" class="field">
          <label class="label" for="full-name">Name</label>
          <div class="control">
            <input class="input is-primary" type="text" name="name" id="full-name" required="">
          </div>

          <label class="label pt-3" for="email-address">Email</label>
          <div class="control">
            <input class="input is-primary" type="email" name="_replyto" id="email-address" required="">
          </div>

          <div class="control pt-3">
            <label class="checkbox">
              <input type="checkbox" required>
                I agree to the <a href="/legal">terms and conditions</a>
            </label>
          </div>

          <label class="label pt-3" for="message">Message</label>
          <div class="control">
            <textarea  class="textarea is-primary" rows="5" name="message" id="message"  required=""></textarea>
          </div>

          <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
          <input type="text" name="_gotcha" style="display:none"/>
        </fieldset>

        <div class="control ">
          <input class="button is-link " type="submit" value="Submit">
        </div>

      </form>

    </div>

  </div>

</section>
