---
layout: page
title: Legal Notice
---

<section class="section pt-0">
  <div class="container">
    <div class="columns ">
      <div class="column is-centered is-8">
        <h1 class="title pt-6">
            LEGAL NOTICE
        </h1>

        <p class=" ">
          In compliance with the in law 34/2002 on information society and e-commerce services (LSSI-CE), these are this website’s owner data:
        </p>

        <div class="content ">
          <ul>
            <li> Owner: Karol Tapia de Moya </li>
            <li> Position: English to Spanish Translator and psychologist, registered as a freelancer or self-employed with number 08117339H, registered as a psychologist with the Official Association of Psychology of Eastern Andalusia (COPAO) Nº: AO10574. </li>
            <li> Tax identification number: 08117339H </li>
            <li> Email address: psikapia@gmail.com </li>
          </ul>
        </div>

        <p class=" ">
           In this policy, “we”, “us”, “our” and “PsyTranslations.com” refer to Karol Tapia de Moya.
        </p>

        <h2 class="subtitle pt-6">
          <b> Purpose </b>
        </h2>

        <p class=" ">
          The purpose of PsyTranslations.com is to act as a marketing tool for the owner, where she can offer her services and interact with potential clients who approach to ask for quotes or request her linguistic services.
        </p>

        <h2 class="subtitle pt-6">
          <b> Intellectual and industrial property </b>
        </h2>

        <p class=" ">
          All rights are reserved.
        </p>

        <p class=" ">
          PsyTranslations.com contains intellectual property (including but not limited designs, logos, text, graphics, images, videos and photographs) that is protected under applicable laws for the protection of trademarks, and/or copyright laws. The logos, texts, designs or graphics created by third-parties that appear on this website belong to their respective owners, and have been used with consent. The user agrees not to use, reproduce, distribute copies, or create derivative works of any part of this website.
        </p>

        <h2 class="subtitle pt-6">
          <b> Data protection </b>
        </h2>

        <p class=" ">
          Please check my Privacy Policy
          <a href="/privacy/">
            here.
          </a>
      </p>

      <h2 class="subtitle pt-6">
        <b> Disclaimer </b>
      </h2>

      <p class=" ">
          The information contained on the Service is for general information purposes only.
        </p>

        <p class=" ">
          We don’t assume responsibility for errors or omissions in the contents of this website. In no event shall we be liable for any special, direct, indirect, consequential, or incidental damages or any damages whatsoever, whether in an action of contract, negligence or other tort, arising out of or in connection with the use of the website or the contents of the website. We reserve the right to make additions, deletions, or modifications to the contents on the website at any time without prior notice.
        </p>

      <h2 class="subtitle pt-6">
        <b> External Links Disclaimer </b>
      </h2>

      <p class=" ">
          The Service may contain links to external websites that are not provided or maintained by or in any way affiliated with PsyTranslations.com
        </p>

        <p class=" ">
          Please note that we do not guarantee the accuracy, relevance, timeliness, or completeness of any information on these external websites.
        </p>

      <h2 class="subtitle pt-6">
        <b> Errors and Omissions Disclaimer </b>
      </h2>

      <p class=" ">
          The information given by the Service is for general guidance on matters of interest only. Even if we take every precaution to insure that the content of the website is both current and accurate, errors can occur. Plus, given the changing nature of laws, rules and regulations, there may be delays, omissions or inaccuracies in the information contained on the website.
        </p>

        <p class=" ">
          We are not responsible for any errors or omissions, or for the results obtained from the use of this information.
        </p>

      <h2 class="subtitle pt-6">
        <b> Contact us </b>
      </h2>

      <p class=" ">
          If you have any questions about this Disclaimer, you can contact us:
        </p>

        <div class="content ">
        <ul>
          <li> By email: psikapia@gmail.com </li>
          <li> By visiting this page on our website: PsyTranslations.com/Contact </li>
        </ul>
      </div>

      <h2 class="subtitle pt-6">
        <b> Changes </b>
      </h2>

      <p class=" ">
        We keep this legal notice under regular review and place any updates on this web page. This was last updated on April 26, 2021. We reserve the right to make additions, deletions, or modifications to the contents on the website at any time without prior notice.
      </p>

      </div>

    </div>

  </div>

</section>
