---
layout: page
title: Solutions
---

<p>This is a sample page which use the `page` template. Right it doesn't include extra html or whatever, it's just an example.</p>












            <div class="section">
                <div class="columns">

                    <div class="column  is-full has-text-centered">

                        <div class="box transparent">

                            <div class="columns has-text-centered  is-multiline ">







                                <div class="column ">
                                    <div class="card ">
                                        <div class="card-image">
                                            <figure class="image is-5by3">
                                                <img src="https://images.unsplash.com/photo-1508881136857-d1781947f4d6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Image">
                                            </figure>
                                        </div>
                                        <div class="card-content">
                                            <div class="content has-text-left">
                                                <h2 class="is-2  has-text-left has-text-weight-medium">Warm moments</h2>

                                                <h6 class="is-4  has-text-left has-text-grey has-text-weight-light is-italic is-family-sans-serif">HYGGE</h6>

                                                <span class="icon has-text-black is-left">
                                                    <i class="fab fa-facebook-f"></i>
                                                </span>
                                                <span class="icon has-text-black">
                                                    <i class="fab fa-twitter"></i>
                                                </span>
                                                <span class="icon has-text-black">
                                                    <i class="fab fa-pinterest-p"></i>
                                                </span>

                                                <hr>
                                                <p class="is-4  has-text-grey has-text-left ">Lorem ipsum dolor amet plaid taxidermy asymmetrical gentrify succulents heirloom. Drinking vinegar fashion axe lyft truffaut. Cornhole unicorn prism typewriter normcore cardigan air plant tilde tote bag small batch authentic lo-fi drinking vinegar. Roof party normcore put a bird on it you probably haven't heard of them prism synth pok pok cornhole neutra woke af beard disrupt.

                                                    Sustainable drinking vinegar pabst four loko twee. Salvia authentic gochujang shoreditch lumbersexual health goth activated charcoal hella. Church-key gochujang lo-fi viral, paleo quinoa mumblecore celiac crucifix man braid wayfarers shoreditch skateboard austin snackwave. Shoreditch craft beer echo park pitchfork wayfarers semiotics distillery. Pabst pug vegan dreamcatcher. Kogi beard taiyaki williamsburg single-origin coffee jean shorts lyft locavore keytar. Glossier hexagon semiotics leggings gochujang.
                                                </p>

                                                <h3 class="has-text-centered">“Chia cardigan neutra, fixie dreamcatcher trust fund waistcoat wayfarers. Bushwick photo booth helvetica cronut coloring book raclette cold-pressed, freegan church-key biodiesel.”</h3>
                                                <p class="is-4  has-text-grey has-text-left ">

                                                    Sustainable drinking vinegar pabst four loko twee. Salvia authentic gochujang shoreditch lumbersexual health goth activated charcoal hella. Church-key gochujang lo-fi viral, paleo quinoa mumblecore celiac crucifix man braid wayfarers shoreditch skateboard austin snackwave. Shoreditch craft beer echo park pitchfork wayfarers semiotics distillery. Pabst pug vegan dreamcatcher. Kogi beard taiyaki williamsburg single-origin coffee jean shorts lyft locavore keytar. Glossier hexagon semiotics leggings gochujang.
                                                </p>
                                                <hr>
                                                <div class="notification transparent">

                                                    <div class="columns">

                                                        <div class="column">


                                                            <figure class="image is-3by2 ">
                                                                <img src="https://images.unsplash.com/photo-1484075449844-e945b251559e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1042&q=80" alt="Image">

                                                            </figure>






                                                        </div>


                                                        <div class="column">
                                                            <figure class="image is-3by2 ">
                                                                <img src="https://images.unsplash.com/photo-1533563697671-dc05a2cd7b01?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Image">
                                                            </figure>

                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>



                                                <p class="is-4  has-text-grey has-text-left ">

                                                    Sustainable drinking vinegar pabst four loko twee. Salvia authentic gochujang shoreditch lumbersexual health goth activated charcoal hella. Church-key gochujang lo-fi viral, paleo quinoa mumblecore celiac crucifix man braid wayfarers shoreditch skateboard austin snackwave. Shoreditch craft beer echo park pitchfork wayfarers semiotics distillery. Pabst pug vegan dreamcatcher. Kogi beard taiyaki williamsburg single-origin coffee jean shorts lyft locavore keytar. Glossier hexagon semiotics leggings gochujang.
                                                </p>

                                            </div>

                                        </div>

                                    </div>
                                    <div class="notification transparent">

                                        <div class="columns">

                                            <div class="column">
                                                <hr class="has-background-black">

                                                <div class="card-image">

                                                    <figure class="image is-3by2">
                                                        <img src="https://images.unsplash.com/photo-1484075449844-e945b251559e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1042&q=80">
                                                    </figure>
                                                </div>
                                                <hr>

                                                <article class="media">


                                                    <div class="media-content">
                                                        <div class="content">
                                                            <p class="has-text-black is-6 is-italic">

                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                            </p>
                                                        </div>

                                                    </div>

                                                </article>
                                                <hr class="has-background-black">

                                            </div>


                                            <div class="column">
                                                <hr class="has-background-black">

                                                <div class="card-image">

                                                    <figure class="image is-3by2">
                                                        <img src="https://images.unsplash.com/photo-1484075449844-e945b251559e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1042&q=80">
                                                    </figure>
                                                </div>
                                                <hr>

                                                <article class="media">


                                                    <div class="media-content">
                                                        <div class="content">
                                                            <p class="has-text-black is-6 is-italic">

                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                            </p>
                                                        </div>

                                                    </div>

                                                </article>
                                                <hr class="has-background-black">




                                            </div>



                                            <div class="column">
                                                <hr class="has-background-black">

                                                <div class="card-image">

                                                    <figure class="image is-3by2">
                                                        <img src="https://images.unsplash.com/photo-1484075449844-e945b251559e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1042&q=80">
                                                    </figure>
                                                </div>
                                                <hr>

                                                <article class="media">


                                                    <div class="media-content">
                                                        <div class="content">
                                                            <p class="has-text-black is-6 is-italic">

                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                            </p>
                                                        </div>

                                                    </div>

                                                </article>


                                                <hr class="has-background-black">


                                            </div>

                                        </div>
                                    </div>








                                </div>



                            </div>

                        </div>
                 

        </div>












