{% extends 'layouts/base.njk' %}

{% block content %}

  {% include "header.njk" %}

  <section class="hero is-primary  mb-4 header-image" >

    <div class="hero-body">
      <div class="container">

        <div class="columns is-desktop">
          <div class="column blur-hero is-half-desktop">
            <h1 class="title">
            Karol Tapia de Moya
          </h1>
            <h2 class="subtitle">
            Certified English-to-Spanish Translator
          </h2>
            <h2 class="subtitle">
            Psychology and healthcare language solutions
          </h2>

            <a href="/contact/">
              <button class="button is-warning">Contact</button>
            </a>

          </div>
        </div>

      </div>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="negmargin">
      <path fill="#fff" fill-opacity="1" d="M0,64L80,85.3C160,107,320,149,480,144C640,139,800,85,960,69.3C1120,53,1280,75,1360,85.3L1440,96L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path>
    </svg>

  </section>

  <section class="section pt-0">
    <div class="container">

      <div class="columns  is-centered">
        <div class="column is-8">
          <h1 class="title  has-text-centered">
            <strong> More than medical translation</strong>
          </h1>
          <p class="  has-text-centered mb-3">
            You need more than just a translation.  
         </p>  
            <p class="  has-text-centered mb-3">
            You need solutions that help you convey your message loud and clear to a global market of over 489 million Spanish speakers.
          </p>
          <p class="  has-text-centered mb-3">
            I provide a bespoke service that will ultimately <b>save you time and money</b>, freeing you up to focus on other strategic objectives. Whether that’s getting published, ensuring you have well-written clinical trial documentation for your patients and study staff, or making sure your test adaptation is as good as it can be.
          </p>
          <div class=" has-text-centered mb-3">
 <p class="  has-text-centered mb-3">
            That’s all thanks to my background as a healthcare professional teamed with my experience and specialist training in English-to-Spanish medical and psychology translation.
          </p>
            <a href="/about/">
              <button class="button is-warning">Find out how I do it</button>
            </a>

          </div>
        </p>
      </div>

    </div>
  </div>
</section>

<!--section>

  <div class="columns is-8">
    <div class="column pr-3">
      <div class="testimonial-quote group">
        <div class="quote-container">
          <blockquote>
            <p>By 2060, the United States will be the second largest Spanish-speaking country in the world after Mexico. In all, 27.5% of the U.S. population will be of Hispanic origin.”</p>
          </blockquote>
          <div class="cite">
            <p>
              <b>Instituto Cervantes</b>
              2020 Yearbook
            </p>
          </div>
        </div>
      </div>

    </div>

  </section-->

<section class="section">
  <div class="container">

    <div class="columns is-centered">
      <div class="column is-8">

        <div class="columns ">
          <div class="column">
            <figure class="image is-256x256">

              <img src="../home.jpg" alt="Medical professional reading about psychology, medicine and healthcare in tablet">
            </figure>

          </div>
          <div class="column">
            <p class="subtitle">
                Highly specialized disciplines call for <strong>highly specialized translations.</strong>
            </p>
            <p class="mb-3">

              Those working in
              <b> health and behavioral sciences</b>

sciences will be well aware of the strict guidelines that need to be complied with. They also know that the stakes are high, so any translated content must be of the


              <b>highest quality.</b>
            </p>
            <p class="mb-3">
And not just any translator will do. You need more than a medical translator. You need a translator specializing in your specific fields.
            </p>
              <p>
I specialize in clinical research documentation, psychometric assessments, clinical psychology and neuropsychology, and the localization of website and app content—all fields with a particular context and rigorous requirements to follow.
            </p>

          </div>
        </div>

      </div>
    </div>

    <div class="columns  is-centered pb-6 pt-3">
      <div class="column is-8">
        <p>Compliance with these requirements underpins all translated documents, whether they’re:</p>
        <div class="content">
          <ul>

            <li> Tests for clinical or educational aims, or for human resource management</li>
            <li> Clinical outcome assessments for clinical research</li>
            <li> Patient-facing documentation</li>
            <li> mHealth technologies</li>
            <li> Medical device instructions</li>
          
          </ul>
        </div>

      </div>
    </div>

  </div>

</section>

<section class="hero is-primary is-bold mb-4" >

  <div class="hero-body">
    <div class="container">

      <div class="columns  is-centered">
        <div class="column">
          <div class=" has-text-centered p-5">
            <figure class="image is-256x256" >
              <img src="../perfil1.jpg" class="is-rounded" alt="Image of Karol Tapia de Moya posing with crossed arms">
            </figure>
          </div>
        </div>
        <div class="column  is-7">
          <div class="  pl-0 pt-6 pb-3">
            <h1 class="title">Why work with me?</h1>
          </div>
          <p>
            I’m Karol Tapia de Moya, a psychologist-neuropsychologist and translator with over 13 years of combined experience. I help clients looking for medical and psychology translations communicate their message to the Spanish-speaking world.
          </p>

       <div class="pt-6 has-text-centered">
            <a href="/about/">
              <button class="button is-warning has-text-centered">Learn more about my background</button>
            </a>
          </div>

        </div>
      </div>


    </div>
    


     <div class="columns">
        <div class="column">

          <div class="box">
            <article class="media">
              <div class="media-left">
                <figure class="image is-64x64">
                  <img src="../graduation-cap-solid.svg" alt="Brain minimalist icon">
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <b>Highly specialized</b>
                    <br>
                    Certain translations call for certain translators. And finding a subject-matter specialist who’s also a linguist is no mean feat. I’ve devoted myself to my specializations, not only as a translator but also as a healthcare professional.
                    <br>&nbsp;
                  </p>
                </div>
              </div>
            </article>
          </div>
        </div>

        <div class="column">
          <div class="box">
            <article class="media">
              <div class="media-left">
                <figure class="image is-64x64">
                  <img src="../world.svg" alt="Vital sign icon">
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <b>High degree of intercultural awareness</b>
                    <br>
                    Thanks to my personal, cultural, and educational background, I understand the subtleties in different Spanish variants, and the contexts on both sides of the Atlantic.
                  </p>
                </div>
              </div>
            </article>
          </div>
        </div>
      
        <div class="column">
          <div class="box">
            <article class="media">
              <div class="media-left">
                <figure class="image is-64x64">
                  <img src="../certified.svg" alt="">
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <b>Certified translator</b>
                    <br>
                    I’ve been certified by the American Translators Association through an exam with a pass rate of less than 20%. I’m also part of several other professional associations, related to both translation and psychology.
                    <br>&nbsp;
                  </p>
                </div>
              </div>
            </article>
          </div>
        </div>

        <div class="column">
          <div class="box">
            <article class="media">
              <div class="media-left">
                <figure class="image is-64x64">
                  <img src="../professional.svg" alt="">
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <b>Flexible, professional, and reliable</b>
                    <br>
                    As a professional, I’m always there for my clients to make sure we’re on the same page and provide them with real solutions.                    
                    <br>&nbsp;
                  </p>
                </div>
              </div>
            </article>
          </div>
        </div>

      </div>



  </div>

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="negmargin">
    <path fill="#fff" fill-opacity="1" d="M0,64L80,85.3C160,107,320,149,480,144C640,139,800,85,960,69.3C1120,53,1280,75,1360,85.3L1440,96L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path>
  </svg>

</section>

<section class="section pt-0">
  <div class="container">

    <h1 class="title  has-text-centered pb-6">
           Your  <strong>solutions</strong>
    </h1>

    <div class="columns is-centered  is-flex-wrap-wrap">

      <!-- COLUMNA 1 -->
    <div class="column  has-text-centered">
        <figure class="image is-128x128  is-inline-block"  style="    height: 128px;">
          <img src="../language-solid.svg" alt="Translation icon">
        </figure>

        <h2  class="subtitle  has-text-centered">
          <strong> Medical and psychology translation </strong>
        </h2>

        <p class="  has-text-centered pr-3">
          Need to translate your health and behavioral science content from English into Spanish? I work with diverse topics such as clinical research, medical devices, neuropsychology tests, clinical psychology, and more.
          </p>
        <div class=" has-text-centered p-5">
          <br>&nbsp;

          <a href="/solutions/medical-psychology-translations/">
            <button class="button is-warning">Find out more</button>
          </a>

        </div>
      </p>
    </div>


    <!-- COLUMNA 2 -->
    <div class="column  has-text-centered">
      <figure class="image is-128x128  is-inline-block">
      <img src="../clipboard-check-solid.svg" style="    height: 128px;" alt="Clipboard icon">
      </figure>

      <h2  class="subtitle  has-text-centered">
        <strong> Translation review, editing/proofreading, and language consulting</strong>
      </h2>

      <p class="  has-text-centered  pl-3">
          Maybe you want someone on your team who’s able to review, edit, and proofread your existing translations and Spanish originals. Or maybe you need to go one step further, and want a language professional to guide you and help you make decisions, taking your specific needs into account. I can provide you with both. 
          <div class=" has-text-centered p-5">

          <a href="/solutions/review-editing-proofreading-language-consulting/">
            <button class="button is-warning">Find out more</button>
          </a>

        </div>
      </p>
    </div>


    <!-- COLUMNA 3 -->
    <div class="column  has-text-centered">

      <figure class="image is-128x128  is-inline-block">
        <img src="../test.svg" style="    height: 128px;" alt="Clipboard icon">
      </figure>

      <h2  class="subtitle  has-text-centered pt-1">
        <strong> Linguistic validation and test adaptation </strong>
      </h2>

      <p class="  has-text-centered pl-3 pr-3">
        The assessment field is a world of its own. Whether the aim is research or intervention/diagnostic, handling the translation of these instruments calls for knowledge of specific guidelines and context, and I can contribute my clinician-linguist perspective.

        <div class=" has-text-centered p-5">
          <br>&nbsp;
            <a href="/solutions/linguistic-validation-test-adaptation/">
            <button class="button is-warning">Find out more</button>
          </a>

        </div>
      </p>
    </div>

      <!-- COLUMNA 4 -->
    <div class="column has-text-centered">
      <figure class="image is-128x128  is-inline-block">
        <img src="../www.svg"  style="    height: 128px;" alt="Web icon">
      </figure>

      <h2  class="subtitle has-text-centered">
        <strong> Website and app localization </strong>
      </h2>

      <p class="  has-text-centered  pl-3">
        I combine my interest in technology with my medical translation background to provide solutions for healthcare institutions and centers, healthcare professionals, and mHealth companies that want to bring their services to the Spanish-speaking market.

        <div class=" has-text-centered p-5">
            <a href="/solutions/website-app-localization/">
            <button class="button is-warning">Find out more</button>
          </a>
        </div>
      </p>
    </div>  



  </div>

</section>

<section class="section">
  <div class="container">

    <h1 class="title  has-text-centered pb-3">
            Testimonials
      </h1>
<p class="  has-text-centered pt-6 pb-5">
           This is what some of my clients have to say about me:
          </p>
    <div class="columns is-8">
      <div class="column pr-3">
        <div class="testimonial-quote group">
          <div class="quote-container">
            <blockquote>
              <p>Karol has served as our firm’s translator for many years. Our firm works in diverse communities around the U.S. and every time, her translations have been perfect! We regularly have to ask local Hispanic/Latinx leaders to review the translations, and they have always been rated as A-plus work! Karol’s response to any job is swift and efficient, and she has many times helped us out with emergency projects. She is most professional, and we will continue to work with her as long as we can! Thank you, Karol!”</p>
            </blockquote>
            <div class="cite">
              <p>
                <b>Linda T. Flynn</b>
                    Ph.D., Partner</p>
                    Cultural Planning
                </div>
          </div>
        </div>

      </div>
      <div class="column">

        <div class="testimonial-quote group">
          <div class="quote-container">
            <blockquote>
              <p>I have been working with Karol for a long time and I can say she is a very professional linguist. She is very easy to work with and her translation work is impeccable. I definitely recommend her translation services to anyone looking for a detail-oriented and responsible English/Spanish translator.”</p>
            </blockquote>
            <div class="cite">
              <p>
                <b>Denisse Geler</b>
            Project Manager</p> Green Translations

            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="columns is-8">
      <div class="column pr-3">
        <div class="testimonial-quote group">
          <div class="quote-container">
            <blockquote>
              <p>Karol is an outstanding translator. She is excellent at localizing content to match the audience and her service is perfect. I have worked with Karol for over 7 years now and she takes care of all our Spanish translations, both LaTam and EU and she is a pleasure to work with. Highly recommended.”</p>
            </blockquote>
            <div class="cite">
              <p>
                <b>Michelle Diamond</b>
                Owner and COO</p> Writing Sense
              </div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="testimonial-quote group">
          <div class="quote-container">
            <blockquote>
              <p>Fantastic work, everything went as expected. Karol went beyond my expectations by providing superb ideas as a co-writer of my book. Muchas gracias, Karol!”</p>
            </blockquote>
            <div class="cite">
              <p>
                <b>Oscar Segurado</b>
                NEO Chi Institute</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>

<section class="section pt-0 pb-6">
  <div class="container pb-6">

    <h1 class="title  has-text-centered pb-1">
        Memberbship
      </h1>
<p class="  has-text-centered pt-6 pb-5">
           I’m a member of several professional associations and adhere to their respective codes of ethics:
          </p>
    <div class="columns  is-centered">
      <div class="column is-8">

        <div class="box  post-it p-6">
          <div class="columns">
            <div class="column pt-3">
              <figure class="image " height="200">
                <a href="https://web.atanet.org/onlinedirectories/tsd_view.php?id=24250" target="_blank">
                  <img src="../clientes6.png" alt="American Translators Association (ATA) logo">
                </a>
              </figure>
            </div>

            <div class="column pt-3">
              <figure class="image " height="200">
                <a href="https://www.tremedica.org/buscador-de-linguistas-profesionales/linguista/?usuario=psikapiagmail-com" target="_blank">
                  <img src="../clientes1.png" alt="International Association of Medical Translators and Writers and Related Sciences (TREMÉDICA) logo">
                </a>
              </figure>
            </div>

            <div class="column pt-3">
              <figure class="image " height="200">
                <a href="https://www.actti.org/karol-tapia-de-moya/" target="_blank">
                  <img src="../clientes2.png" alt="Colombian Association of Translators, Terminologists and Interpreters (ACTTI) logo">
                </a>
              </figure>
            </div>

            <div class="column pt-3">
              <figure class="image " height="200">
                <a href="https://www.colpsic.org.co/" target="_blank">
                  <img src="../clientes5.png" alt="Colombian Psychology Board logo">
                </a>
              </figure>
            </div>
          </div>
        </div>

      </div>

    </div>

  </section>

  {% include "footer.njk" %}

  <!--section class="section">
    <div class="container">
      <h1 class="title">

    {% if title %}
      {{ title }}
    {% endif %}
      </h1>
      <p class="subtitle">

    {{ content | safe }}
      </p>
    </div>


  </!--section>

{% endblock %}
