{% extends 'layouts/base.njk' %}
{% from "../post-navigation.njk" import postNavigation %}

{# Populate <head> with post-related assets #}


{% block content %}



    {% include "header.njk" %}


<section class="section">
    <div class="container">





    {% if date %}
      <small><time datetime="{{ date | htmlDate }}">{{ date | dateFilter }}</time></small>
    {% endif %}

    <h1>{{ title }}</h1>

    {% if tags.length %}
      <ul style="all: unset; display: inline-flex; list-style: none;">
      {% for tag in tags %}
        <li style="margin-right: 16px"><a href="/blog/tag/{{tag}}/">#{{tag}}</a></li>
      {% endfor %}
      </ul>
    {% endif %}

    <hr />

    <article ne-prose>
      {{ content | safe }}
    </article>

    <hr />

    {% set previousPost = collections.posts | getPreviousCollectionItem(page) %}
    {% set nextPost = collections.posts | getNextCollectionItem(page) %}
    {{ postNavigation(previousPost, nextPost) }}




    </div>


  </section>













  <main tabindex="-1">
  </main>
{% endblock %}

